@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-clinical-bg text-clinical-textDark font-sans antialiased;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
